<title>Student CVs</title>
<div class="container center-align" style="padding-top: 10px;">
    
    <div class="row">
        <h4 class="white-text">Welcome to Student CVs</h4>
    </div>
    
    <div class="row">

        <div class="col hide-on-med-and-down l1"></div>

        <div class="col s12 m6 l5">
            <div class="card-panel grey">
                <h5 class="white-text">Click here to login:</h5>
                <a href="/account/login" class="btn red white-text"><i class="material-icons right">lock</i>Login</a>
            </div>
        </div>

        <div class="col s12 m6 l5">
            <div class="card-panel grey">
                <h5 class="white-text">Or Sign up here:</h5>
                <a href="/account/register" class="btn red white-text"><i class="material-icons right">arrow_forward</i>Sign Up</a>
            </div>
        </div>

        <div class="col hide-on-med-and-down l1"></div>

    </div>

    <div class="row">
        <div class="col l1 hide-on-med-and-down"></div>
        <div class="col m12 l10">
            <div class="card-panel grey">
                <h5 class="white-text">For employers looking to view current CVs:</h5>
                <a href="/cv/viewall" class="btn red white-text"><i class="material-icons right">description</i>Go Here!</a>
            </div>
        </div>
        <div class="col l1 hide-on-med-and-down"></div>
    </div>

    <!-- if it looks like a duck,
        swims like a duck,
        and quacks like duck... oh
               _
           .__(.)< (MEOW)
            \___)   
    ~~~~~~~~~~~~~~~~~~-->

</div>