<div class="container" style="padding-top: 100px;">

    <div class="row">

        <div class="col s0 m3 xl2"></div>

        <div class="col s12 m6 xl8">
            <div class="card-panel white">
                <div class="row center-align">
                    <h5 class="bold">Create CV</h5>
                </div>
                <form>
                    <h6>General Information</h6>
                    <div class="row">
                        <div class="col s12 xl6">
                            <input placeholder="Forename" id="create-forename" type="text">
                            <label for="create-forename">Forename</label>
                        </div>

                        <div class="col s12 xl6">
                            <input placeholder="Surname" id="create-surname" type="text">
                            <label for="create-surname">Surname</label>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col s12 xl6">
                            <input placeholder="Email" id="create-email" type="text">
                            <label for="create-email">Email Address</label>
                        </div>

                        <div class="col s12 xl6">
                            <input placeholder="DateOfBirth" id="create-dob" type="text" class="datepicker">
                            <label for="create-dob">Date of Birth</label>
                        </div>
                    </div>
                    <h6>Address</h6>
                    <div class="row">
                        <div class="col s12 xl6">
                            <input placeholder="HouseNumber" id="create-houseNum" type="text">
                            <label for="create-houseNum">House Number</label>
                        </div>

                        <div class="col s12 xl6">
                            <input placeholder="RoadName" id="create-roadName" type="text">
                            <label for="create-dob">Road Name</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s12 xl6">
                            <input placeholder="City" id="create-city" type="text">
                            <label for="create-city">City</label>
                        </div>

                        <div class="col s12 xl6">
                            <input placeholder="County" id="create-county" type="text">
                            <label for="create-county">County</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s12 xl6">
                            <input placeholder="Country" id="create-country" type="text">
                            <label for="create-country">Country</label>
                        </div>
                    </div>

                    <h6>Education</h6>
                    <p>Enter your education information: including institutions attended, modules and grades, and the length of attendence.</p>
                    <div class="row">
                        <div class="input-field col xl12 s12">
                            <textarea placeholder="Education"
                            id="create-education" class="materialize-textarea"></textarea>
                            <label for="create-education"></label>
                        </div>
                    </div>

                    <h6>Previous Employment</h6>
                    <p>Enter the information relating to your previous places of employment, we reccomend including: Company Name,
                        length of employment, job title, responsibilities, and information on projects your led.
                    </p>
                    <div class="row">
                        <div class="input-field col xl12 s12">
                            <textarea placeholder="Previous Employment"
                            id="create-employment" class="materialize-textarea"></textarea>
                            <label for="create-employment"></label>
                        </div>
                    </div>

                    <h6>Personal Profile</h6>
                    <p>In this section we reccomend including details of your extra-curricular activities, including hobbies and 
                        leasure activities, and other personal skills that may relate to your application - such as being first aid trained etc.
                    </p>
                    <div class="row">
                        <div class="input-field col xl12 s12">
                            <textarea placeholder="Previous Employment"
                            id="create-employment" class="materialize-textarea"></textarea>
                            <label for="create-employment"></label>
                        </div>
                    </div>
                    

                    <div class="row center-align">
                        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <div class="col s0 m3 xl2"></div>

    </div>

</div>





