<div class="container">

        <table class="grey-text text-lighten-5">
            <tr>
                <th></th>
                <th>Forename</th>
                <th>Surname</th>
                <th>Degree Title</th>
                <th>To CV</th>
            </tr>
            
            <tr>
                <td></td>
                <td>Joe</td>
                <td>Bloggs</td>
                <td>Faking it</td>
                <td><a href="" class="btn green"><i class="material-icons right">chevron_right</i>Go To</a></td>
            </tr>

        </table>

</div>