<div class="container">

        <table class="grey-text text-lighten-5">
            <tr>
                <th></th>
                <th>Forename</th>
                <th>Surname</th>
                <th>To CV</th>
            </tr>
            {{#each cvList}}
            <tr>
                <td></td>
                <td>{{this.forename}}</td>
                <td>{{this.surname}}</td>
                <td><a href="/cv/{{this._id}}" class="btn green"><i class="material-icons right">chevron_right</i>Go To</a></td>
            </tr>
            {{/each}}

        </table>

</div>